@import 'font.css';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.row-ml {
    margin-left: 0;
    margin-right: 0;
}

.col-pd {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    width: 800px;
    padding: 20px 0;
    border-top: 3px solid #de2a1b;
}

.header__dropdown {
    width: 350px !important;
}

.margin_auto {
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

/* ************************************* */
/* ******************************header start******************************* */

/*********************************************header__menu start**********************/
.header__menu_img {
    width: 70px;
    height: 70px;
}

.header_nav-link {
    padding-right: 22px;
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: .3s;
}

.header_nav-link:hover {
    color: #de2a1b;
}

.dropdown-item {
    transition: .3s;
}

.dropdown-item:hover {
    background: #de2a1b;
    color: #fff;
}

.header__fon {
    background: rgb(255, 250, 250);
    background: radial-gradient(circle, rgba(255, 250, 250, 1) 0%, rgba(255, 82, 82, 1) 0%);
    padding: 200px 0;
    cursor: pointer;
    border-radius: 0 0 250px 0;
}

.header__fon_p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 5px;
    color: #fff;
    margin-bottom: 0;
}

.header__fon_h1 {
    font-family: Montserrat;
    font-style: bold;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    margin-bottom: 0;
    padding-top: 10px;
}

.header__fon_text {
    padding-top: 40px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffff00;
    margin-bottom: 0;
}

.header__fon_text_link {
    text-decoration: none;
    color: #fff;
}

.header__fon_pp {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    line-height: 2em;
    font-size: 20px;
    padding-top: 40px;
}

/**************************************************** header end ***********************************/
/* ******************************************************************************************************* */
/* *****************************************main__login start****************************** */
.text_email {
    margin-bottom: 0;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.text {
    padding-left: 15px;
}

.main__login_icon-box_link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}

.main__login_icon-box_icon {
    font-size: 30px;
    color: #ff5252;
}

.main__login_icon-box {
    margin-bottom: 40px;
}

.main__login {
    margin: 100px 0;
}

.input__main,
.textarea__main {
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 0 15px 15px;
    background: #eee;
    color: #999;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
}

.textarea__main {
    min-height: 150px;
}

.main__login-input_box_p {
    margin-bottom: 0;
    padding-bottom: 40px;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

.main__login-input_box_button {
    background: #ff5252;
    border: 1px solid #ff5252;
    font-size: 20px;
    font-weight: 500;
    font-family: Montserrat;
    font-style: normal;
    padding: .3em 1em;
    line-height: 1.7em !important;
    border-radius: 3px;
    transition-duration: .2s;
    color: #fff;
    text-transform: uppercase;
    float: right;
    display: flex;
    align-items: center;
}

.main__login-input_box_button_icon {
    display: none !important;
    padding-left: 10px;
}

.main__login-input_box_button:hover .main__login-input_box_button_icon {
    display: block !important;
}

.main__login_text_span {
    color: #3366ff;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

.main__login_text_p {
    color: #800080;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 20px;
}

.main__login_text {
    padding-top: 100px;
}


/* main__login end */
/* ********************************************************************************** */
/* footer__block start */

.footer__block {
    background: rgb(255, 250, 250);
    background: radial-gradient(circle, rgba(255, 250, 250, 1) 0%, rgba(255, 82, 82, 1) 0%);
    padding: 100px 0 0 0;
    border-radius: 250px 0 0 0;
}

.footer__block_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer__block_box_span {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    font-family: Montserrat;
    font-style: normal;
    line-height: 2;
}

.footer__block_box_h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    font-family: Montserrat;
    font-style: normal;
    padding-top: 30px;
    margin-bottom: 0;
}

.footer__block_box_button {
    font-weight: 600;
    font-family: Montserrat;
    font-style: normal;
    padding: 18px 34px;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: 5px;
    color: #fff;
    outline: none;
    background-color: #579A5C;
    border: 1px solid #579A5C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    transition: .3s !important;
}

.footer__block_box_button_icon {
    font-size: 18px;
    padding-left: 15px;
    display: none !important;
}

.footer__block_box_button:hover .footer__block_box_button_icon {
    display: block !important;
}

.footer__block_img {
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50px;
    margin: 0 auto;
}

.instagram,
.facebook,
.telegram {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #579A5C;
    margin: 0 10px 0 10px;
}

.instagram:hover,
.facebook:hover,
.telegram:hover {
    background: #579A5C;
}

.instagram:hover,
.facebook:hover,
.facebook:hover .instagram_link,
.facebook_link,
.telegram_link {
    color: #fff;
}

.instagram_link,
.facebook_link,
.telegram_link {
    font-size: 20px;
    color: #fff;
}

.instagram_link:hover,
.facebook_link:hover,
.telegram_link:hover {
    color: #fff;
}

.footer__block_icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}

.footer__menu {
    margin-top: 100px;
    padding: 15px 0;
    background: #000000;
}

.footer__menu_nav_ul {
    list-style: none;
    margin: 0;
}

.footer__menu_nav_ul_li_link {
    font-weight: 600;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.footer__menu_nav_ul_li_link:hover {
    color: #de2a1b;
}

.footer__lastBox {
    padding: 15px 0;
}

.footer__lastBox_p {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat;
    font-style: normal;
}

ol,
ul {
    padding-left: 0;
}

/* footer__block end */


/* *******************************************media********************************************* */
@media(max-width:991px) {
    .nav-item {
        padding-bottom: 10px;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        background: #fff;
        z-index: 10;
        width: 100%;
        padding: 15px 19px;
        top: 95px;
        left: 0;
    }

    .header_button {
        font-size: 25px;
        line-height: 1;
        color: #de2a1b;
    }

    .navbar-light .navbar-toggler {
        box-shadow: none !important;
        border: none;
    }

    .navbar-light .navbar-toggler:focus {
        outline: 3px solid #de2a1b;
    }

    .header__fon_h1 {
        font-style: normal;
        font-size: 38px;
    }

    .header__fon {
        padding: 150px 0;
    }

    .main__login_icon-box_link,
    .main__login-input_box_p {
        font-size: 14px;
    }

    .main__login_text_p {
        font-size: 14px;
        padding-top: 15px;
    }

    .footer__menu_nav_ul_li_link {
        font-size: 14px;
        padding: 0 15px 0 15px;
    }

    .footer__menu_nav_ul_li {
        padding-top: 10px;
    }

    .footer__lastBox_p {
        font-size: 14px;
    }

    .footer__block_box_span {
        font-size: 20px;
    }

    .footer__block_box_h1 {
        font-size: 34px;
    }
}

@media(max-width:767px) {
    .main__login_icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__login_icon-box {
        width: 50%;
    }

    .footer__block_img_logo {
        width: 70%;
    }

    .footer__block_img {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:575px) {
    .footer__block {
        border-radius: 0;
    }

    .footer__lastBox_p {
        text-align: center;
    }
}

@media(max-width:520px) {}

@media(max-width:414px) {
    .text {
        padding-left: 0;
    }

    .text_email {
        font-size: 16px;
    }

    .main__login_text_span {
        font-size: 14px;
    }

    .footer__block_box_span {
        font-size: 14px;
    }

    .footer__block_box_h1 {
        font-size: 32px;
    }
}

@media(max-width:320px) {
    .header__fon_h1 {
        font-size: 20px;
        padding-top: 20px;
    }

    .header__fon_p {
        font-size: 14px;
    }

    .header__fon_pp {
        font-size: 11px;
        padding-top: 20px;
    }

    .header__fon {
        padding: 100px 0 150px 0;
    }

    .main__login_icon-box {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .main__login-input_box_button {
        font-size: 16px;
    }

    .footer__block_box_h1 {
        font-size: 25px;
    }

    .header__dropdown {
        width: 100% !important;
    }

    .dropdown-item {
        padding: .25rem 6px;
    }

    .dropdown-menu {
        font-size: 14px;
    }
}