@import 'font.css';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.row-ml {
    margin-left: 0;
    margin-right: 0;
}

.col-pd {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    width: 800px;
    padding: 20px 0;
    border-top: 3px solid #de2a1b;
}

.header__dropdown {
    width: 350px !important;
}

.margin_auto {
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

/* ************************************* */
/* ******************************header start******************************* */

/*********************************************header__menu start**********************/

.header__menu_img {
    width: 70px;
    height: 70px;
}

.header_nav-link {
    padding-right: 22px;
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    transition: .3s;
}

.header_nav-link:hover {
    color: #de2a1b;
}

.dropdown-item {
    transition: .3s;
}

.dropdown-item:hover {
    background: #de2a1b;
    color: #fff;
}

.header__fon {
    width: 100%;
    padding: 200px 0;
    background: #26b0ebcd url(../img/partners.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    position: relative;
}

.header__fon_h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 0;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
}

/* header end */
/* *************************************************************************** */
/* main__box start */
.main__box_first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.main__box_first_img {
    width: 400px;
    height: 250px;
}

.main__box_first_p {
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
    font-style: normal;
    padding-top: 15px;
    margin-bottom: 0;
    line-height: 2em;
}


.main__box {
    padding-top: 100px;
}


/* main__box  end */
/* **************************************************************************************** */
/* footer__block start */

.footer__block {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background: #26b0ebcd url(../img/london5.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    position: relative;
}

.footer__block_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer__block_box_span {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    font-family: Montserrat;
    font-style: normal;
    line-height: 2;
}

.footer__block_box_h1 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    font-family: Montserrat;
    font-style: normal;
    padding-top: 30px;
    margin-bottom: 0;
}

.footer__block_box_button {
    outline: none;
    background-color: #579A5C;
    border: 1px solid #579A5C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    transition: .3s !important;
    padding: 18px 34px;
    font-weight: 600;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
}

.footer__block_box_button_link {
    font-weight: 600;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: 5px;
    text-decoration: none;
}

.footer__block_box_button_link:hover {
    color: #fff;
}

.footer__block_box_button_icon {
    font-size: 18px;
    padding-left: 15px;
    display: none !important;
}

.footer__block_box_button:hover .footer__block_box_button_icon {
    display: block !important;
}

.footer__block_img {
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 50px;
    margin: 0 auto;
}

.instagram,
.facebook,
.telegram {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #579A5C;
    margin: 0 10px 0 10px;
}

.instagram:hover,
.facebook:hover,
.telegram:hover {
    background: #579A5C;
}

.instagram:hover,
.facebook:hover,
.facebook:hover .instagram_link,
.facebook_link,
.telegram_link {
    color: #fff;
}

.instagram_link,
.facebook_link,
.telegram_link {
    font-size: 20px;
    color: #fff;
}

.instagram_link:hover,
.facebook_link:hover,
.telegram_link:hover {
    color: #fff;
}

.footer__block_icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}

.footer__menu {
    margin-top: 100px;
    padding: 15px 0;
    background: #000000;
}

.footer__menu_nav_ul {
    list-style: none;
    margin: 0;
}

.footer__menu_nav_ul_li_link {
    font-weight: 600;
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.footer__menu_nav_ul_li_link:hover {
    color: #de2a1b;
}

.footer__lastBox {
    padding: 15px 0;
}

.footer__lastBox_p {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat;
    font-style: normal;
}

ol,
ul {
    padding-left: 0;
}


/* *************************************************************************************************** */
/* media */

@media(max-width:991px) {
    .nav-item {
        padding-bottom: 10px;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute;
        background: #fff;
        z-index: 10;
        width: 100%;
        padding: 15px 19px;
        top: 95px;
        left: 0;
    }

    .header_button {
        font-size: 25px;
        line-height: 1;
        color: #de2a1b;
    }

    .navbar-light .navbar-toggler {
        box-shadow: none !important;
        border: none;
    }

    .navbar-light .navbar-toggler:focus {
        outline: 3px solid #de2a1b;
    }

    .footer__menu_nav_ul_li_link {
        font-size: 14px;
        padding: 0 15px 0 15px;
    }

    .footer__menu_nav_ul_li {
        padding-top: 10px;
    }

    .footer__lastBox_p {
        font-size: 14px;
    }

    .footer__block_box_span {
        font-size: 20px;
    }

    .footer__block_box_h1 {
        font-size: 34px;
    }
}

@media(max-width:767px) {
    .main__box_first_p {
        font-size: 14px;
        font-weight: 500;
    }

    .main__box_first_img {
        width: 300px;
        height: auto;
    }

    .footer__block_img_logo {
        width: 70%;
    }

    .footer__block_img {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:575px) {
    .main__box {
        padding: 40px 20px 0 20px;
    }

    .footer__block {
        border-radius: 0;
    }

    .footer__lastBox_p {
        text-align: center;
    }
}

@media(max-width:520px) {}

@media(max-width:414px) {
    .header__fon_h1 {
        font-size: 38px;
    }

    .main__box {
        padding: 40px 0 0 0;
    }

    .footer__block_box_span {
        font-size: 14px;
    }

    .footer__block_box_h1 {
        font-size: 32px;
    }
}

@media(max-width:320px) {
    .footer__block_box_h1 {
        font-size: 25px;
    }
    .header__dropdown {
        width: 100% !important;
    }

    .dropdown-item {
        padding: .25rem 6px;
    }

    .dropdown-menu {
        font-size: 14px;
    }
}